#movies{
  background-color: #EDE6DB;
}
.main{
  background-color: #EDE6DB;
  margin: 0;
}
body{
  text-align: center;
}
img{
  height:20rem;
  width: auto;
}
p{
  font-size: 1.5rem;
}
.card{
  background-color: #417D7A;
  margin: 10px;

}
