.head{
  text-align: center;
  color:#1A3C40;
  background-color: #EDE6DB;
}
.card{
  background-color: #417D7A;
  margin: 10px;

}
.h{
  float: right;
  margin-right: 20px;
  margin-top: 5px;
}
body{
  background-color: #EDE6DB;
}
.lt{
  margin-left: 25%;
}
.d-flex{
  padding-left: 400px;
}
